.prev-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  text-align: center;
}

.prev-cart {
  margin: 2vh;
}

.thumb {
  height: 30vh;
  width: 30vh;
}

h1 {
  text-align: center;
}
