.cocktail-div {
  display: flex;
  margin: 21vh 10vh 5vh 10vh;
  justify-content: space-between;
  box-sizing: border-box;
  gap: 10vh;
}

.cocktail-img {
  height: 64vh;
}

.title-div {
display: flex;
justify-content: center;
gap: 10vh;
}

.coc-description {
  text-align: center;
  font-size: 3vh;
  line-height: 2vh;
}

.coc-description-txt {
  font-weight: 400;
  font-size: 2.5vh;
}

ul {
  text-align: center;
  font-size: 2.3vh;
}
.coctail-name {
  text-align: center;
  font-size: 10vh;
  text-decoration: underline;
}

.coc-txt {
 font-size: 2.3vh;
 text-align: center;
}

.yt-link {
  text-align: center;

}

.flex-div {
  display: flex;
  justify-content: center;
  gap: 10vh;
}

.ing-div {
  width: 40%;
}

.instructions-div {
  width: 60%;
}