footer {
  padding: 1vh;
  background: var(--pinkk);
  height: 12vh;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  text-align: center;
}

.social-icon {
  margin: 0.5vh 1.5vh 0 1.5vh;
}

.social-icon:hover {
  border: 3px solid #fcf5c7;
  border-radius: 50%;
}

.credits-p {
  color: var(--pinkish);
  text-align: center;
  margin-top: -0.01vh;
  padding-top: 1vh;
}

.git-link {
  color: var(--pinkish);
}

.git-link:visited {
  color: var(--pinkish);
}

.git-link:hover {
  color: var(--pinkish);
  font-size: 2.5vh;
}

@media (min-width: 768px) {
  footer {
    display: flex;
    justify-content: space-between;
    padding: 1vh 4vh 0 2vh;
    height: 8vh;
  }

  .credits-p {
    text-align: left;
  }
}

@media (min-width: 1024px) {
  footer {
    height: 7vh;
    padding: 1vh 10vh;
  }
}
