footer {
  display: flex;
  justify-content: space-between;
  padding: 0 10vh;
  background: var(--pinkk);
  height: 5vh;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
}

.social-icon {
  margin: 0.5vh 1.5vh 0 1.5vh;
}

.social-icon:hover {
  border: 3px solid #fcf5c7;
  border-radius: 50%;
}

.credits-p {
  color: var(--pinkish);
  text-align: left;
  margin-top: -0.01vh;
  padding-top: 1vh;
}

.git-link {
  color: var(--pinkish);
}

.git-link:visited {
  color: var(--pinkish);
}

.git-link:hover {
  color: var(--pinkish);
  font-size: 2.5vh;
}
