header {
  background: var(--pinkk);
  height: auto;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 1vh 1vh;
  box-sizing: border-box;
}

.logo {
  height: 7vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo:hover {
  height: 9vh;
}

.right {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  text-align: right;
  width: 100%;
  justify-content: center;
}

.nav-link {
  font-size: 2.6vh;
  color: var(--pinkish);
  background: var(--pinkk);
  padding: 0.5vh 2vh;
  margin-top: 1vh;
  border-radius: 1vh;
}

.nav-link:visited {
  color: var(--pinkish);
}

.nav-link:hover {
  color: var(--indigo);
  background: var(--pinkish);
}

.new-line {
  margin: 0.7vh 0;
  color: var(--pinkk);
}

.new-line1 {
  margin: 2vh 0;
  color: var(--pinkk);
}

@media (min-width: 768px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    height: 14vh;
    padding: 0 2vh;
  }

  .right {
    display: inline;
    margin-top: 6vh;
    text-align: left;
    width: auto;
  }

  .logo {
    height: 14vh;
    margin: 0;
    display: inline;
  }

  .logo:hover {
    height: 15vh;
  }

  .nav-link {
    font-size: 2.7vh;
    padding: 0.5vh 2.5vh;
  }
}

@media (min-width: 1024px) {
  header {
    height: 14vh;
    padding: 0 10vh;
  }

  .nav-link {
    font-size: 3vh;
    margin: 5vh 0;
    padding: 0.5vh 3vh;
  }
}
