:root {
  --kind-a-orange: #ffco9f;
  --kind-a-yellow: #ffee93;
  --pinkish: #fcf5c7;
  --warm-green: #adf7b6;
  --white-two: #fafafa;
  --pale-grey: #f5f6fa;
  --indigoo: #353d60;
  --pinkk: #f5756b;
  --indigo-dark: #000814;
  --indigo-light: #6c8aa7;
}
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@600&display=swap');
/* font-family: 'Prompt', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
/*font-family: 'Mukta', sans-serif;*/

body {
  margin: 0;
  font-family: 'Prompt', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--indigoo);
  box-sizing: border-box;
  background: var(--pinkish)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background: none;
  border: none;
  color: var(--indigoo);
  font-family: 'Mukta', sans-serif;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: var(--indigoo);
  font-weight: 600;
}

a:hover {
  color: var(--indigo-dark);
}

a:visited {
  color: var(--indigo-light);
}

hr {
  margin: 5vh 0;
}