.letter-filter-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 0;

}

.letter-btn {
  font-size: 2.8vh;
  background: var(--pinkk);
  margin: 1vh 0.18vh;
  padding: 0.5vh 2.9vh;
}